.forms{
    margin: 0 auto;
    position: absolute;
    top: 200px;
}
.form{
    display: flex;
}

.form2{
    display: flex;
}

.form3{
    display: flex;
}

.form4{
    display: flex;
}

.form5{
    display: flex;
}